.links{
    position: fixed;
    width: 100vw;
    top: 0px;
    left: 0px;
    background-color: white; 
    z-index: 1000; 
}
.linkCabeicalho{
 display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0px auto; 
}
.links img{
    height: 140px;
    height: 80px;
}
.links nav{
    display: flex;
    align-items: center;
}
.links ul{
    display: flex;
    position: fixed;
    top: 22px;
    right: 63px;
}
.links li{
    margin-left: 13px;
    font-size: 17px;
    font-weight: 700;
}
.links a:hover{
    color: rgb(9, 128, 0)
}

.nome{
    margin-left: 13px;
     font-size: 17px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.nome:hover{
    color: rgb(9, 128, 0)
}

.linkcurso{
    display: flex;
    flex-direction: column;
    width: 112px;
    margin-top: 29px;
    margin-right: 66px;
    padding: 7px 4px;
    background-color: #ededec;
    border: 1px solid #d7d7d3;
    border-radius: 12px
}
.linkcurso li{
    margin-top: 2px ;
}
