.home{
    top: 80px;
    height: 1200px;
    width: 100vw;
    display: flex;
    position: relative;
}
.home__container{
    margin: 0px auto;
    width:87%;
    height:2510px;
    padding: 12px;
    border-radius: 12px;
    margin-top: 21px;
}
