.home{
    top: 80px;
    height: 1200px;
    width: 100vw;
    display: flex;
    position: relative;
}
.home__container{
    margin: 9px auto;
    background-color: rgb(244, 245, 245);
    /* margin-top: 275px; */
    width:87%;
    height:2510px;
    padding: 12px;
    border-radius: 12px;
}
